* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.welcometext {
    color: #81D8D0;
    font-size: 30px;
}

nav {
    width: auto;
    height: 100px;
    background-color: #0C090A;
    position: right;
}

.img-logo {
    position: left;
    left: 0;
    height: auto;
    width: 100px;
    right: 0;
    bottom: 0;
    float: left;
    border: 5px inline rgb(0, 0, 0);
}

ul {
    margin-left: 0px;
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: arial;
    color: white;
    padding: 0 20px;
}

ul li a:hover {
    color: #81D8D0;
}

.AwesomeTableView {
    margin: 0 auto;
    height: 5000px;
    width: 80%;
}

.brand-logo {
    position: center;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0px;
    opacity: 0.2;
}

.logo {
    border: 5px solid rgb(0, 0, 0);
}
